<div class="link-bar">

        <ul class="links-container">
            {% if is_granted('ROLE_CANDIDATE') %}
                <li class="list-item"><a class="link-item">Mon profil</a></li>
                <li class="list-item"><a class="link-item">Mes candidatures</a></li>
                <li class="list-item"><a class="link-item">Consulter les offres d'emploi</a></li>
            {% elseif is_granted('ROLE_RECRUITER') %}
                <li class="list-item"><a class="link-item">Profil</a></li>
                <li class="list-item"><a class="link-item">Offres</a></li>
                <li class="list-item"><a class="link-item">Candidatures reçues</a></li>
            {% endif %}
        </ul>

</div>