{% extends 'base.html.twig' %}

{% block title %}RH Conseil - consultant{% endblock %}

{% block body %}
    {% include "_partials/_bar.html.twig" %}
    {% include "_partials/_side_bar.html.twig" %}

<div class="example-wrapper">

</div>
{% endblock %}
