.link-logout{
    border: 1px solid gray;
    padding: 0.7rem 1.4rem;
    text-decoration: none;

}

.link-logout:hover{
    background-color: #3360AB;

}

.navbar-text a{
    color: gray;
}

.navbar-text a:hover{
    color: white;
}

#navbar{
    background-color: #fafeff;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid lightgray;
}