.link-logout{
    border: 1px solid white;
    padding: 0.7rem 1.4rem;
    text-decoration: none;

}

.link-logout:hover{
    background-color: #3360AB;
}

.navbar-text a{
    color: white;
}


#navbar{
    background-color: #06283D;
    position: fixed;
    width: 100vw;
}