nav{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #bdc3c7 ;
    align-items: center;
    padding: 0 4rem;
}

.title-div{
    display: flex;
    align-items: center;
}

.link-div{
    height: inherit;
    border-left: solid 1px #bdc3c7 ;
    border-right: solid 1px #bdc3c7 ;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

.logo{
    font-weight: 300;
}

h1{
    color: #f1c40f;
    font-size: 2rem;
    padding: 0 1rem;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;

}

.link-login{
    border: solid 1px white;
    text-align: center;
    padding: 3px;
    text-decoration: none;
    color: #bdc3c7;

    font-size: 0.8rem;
    text-transform: uppercase;
}

.link-div>a:hover, .link-div>a>svg:hover {
    color: #f1c40f;
}

.person{
    margin: unset;
    padding: unset;
    color: #bdc3c7;
    vertical-align: text-top;
}